<div class="row">
  <ul id='profileDropdown' class='dropdown-content purple darken-2'>
    <li><a class="white-text" href={{'/profiles/'~ cookies.username ~'/profile'}}>My Profile</a></li>
    <li><a class="white-text" href={{'/profiles/'~ cookies.username ~'/offers'}}>My Offers</a></li>
    {# <li class="divider" tabindex="-1"></li> #}
    <li><a class="white-text" href={{'/profiles/'~ cookies.username ~'/orders'}}>My Orders</a></li>
    <li><a class="white-text" href={{'/users/logout'}}>Log Out</a></li>
  </ul>

  <ul id='responsiveprofileDropdown' class='dropdown-content purple darken-2'>
    <li><a class="white-text" href={{'/profiles/'~ cookies.username ~'/profile'}}>My Profile</a></li>
    <li><a class="white-text" href={{'/profiles/'~ cookies.username ~'/offers'}}>My Offers</a></li>
    {# <li class="divider" tabindex="-1"></li> #}
    <li><a class="white-text" href={{'/profiles/'~ cookies.username ~'/orders'}}>My Orders</a></li>
    <li><a class="white-text" href={{'/users/logout'}}>Log Out</a></li>
  </ul>

  <nav>
    <div class="nav-wrapper purple darken-2">
      <a href="/" class="brand-logo">
        <img class="hide-on-small-only" width="65" src="/images/beautizy.ico" alt="Beautizy">
        <img class="hide-on-med-and-up" width="55" src="/images/beautizy.ico" alt="Beautizy">
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li {% if active_nav=='index' %} class="active" {% endif %}><a href="/">Search</a></li>
        <li {% if active_nav=='about' %} class="active" {% endif %}><a href="/about">About</a></li>
        {% if cookies.userid is not defined and not cookies.userid %}
        <li><a class="modal-trigger" href="#login">Log In</a></li>
        <li><a class="modal-trigger" href="#signup">Sign Up</a></li>
        {% else %}
        <li {% if active_nav=='profile' %} class="active" {% endif %}>
          <a class='dropdown-trigger' data-target='profileDropdown' href="#!">{{ cookies.username|capitalize }}<i class="material-icons right">arrow_drop_down</i></a>
        </li>
        {% endif %}
      </ul>
    </div>

    <ul class="sidenav purple darken-2" id="mobile-demo">
      <li {% if active_nav=='index' %} class="active" {% endif %}><a class="white-text" href="/">Search</a></li>
      <li {% if active_nav=='about' %} class="active" {% endif %}><a class="white-text" href="/about">About</a></li>
      {% if cookies.userid is not defined and not cookies.userid %}
      <li><a class="modal-trigger white-text" href="#login">Log In</a></li>
      <li><a class="model-trigger white-text" href="#signup">Sign Up</a></li>
      {% else %}
      <li {% if active_nav=='profile' %} class="active" {% endif %}><a class='dropdown-trigger white-text' data-target='responsiveprofileDropdown'
          href="#!">{{ cookies.username|capitalize }}<i class="material-icons right">arrow_drop_down</i></a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

<!-- login Modal Structure -->
<div id="login" class="modal">
  <div class="row modal-header purple darken-2">
    <h2 class="center-align white-text">Log in</h2>
  </div>
  <div class="row modal-content">
    <div class="row">
      <form class="col s12 m6" action="/users/login" method="POST" name="login">
        <div class="row">
          <div class="input-field col s12">
            <input id="user" name="user" type="text" class="validate">
            <label for="user">E-Mail/Username</label>
          </div>
          <div class="input-field col s12">
            <input id="pass" name="pass" type="password" class="validate">
            <label for="pass">password</label>
          </div>
          <div class="row">
            <a class="col s12 m6 push-m6 right-align" href="#">Password forgotten?</a>
          </div>
          <button class="btn waves-effect waves-light purple darken-2 col s12 m6 push-m6" type="submit" name="login">log
            in
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
      <div class="col s12 m6">
        <div class="row">
          <a href="#" class="btn waves-effect waves-light col s12 red" name="google">login with google </a>
        </div>
        <div class="row">
          <a href="#" class="btn waves-effect waves-light col s12 blue" name="facebook">login with facebook </a>
        </div>
        <div class="row">
          <a href="#" class="btn waves-effect waves-light col s12 cyan" name="twitter">login with twitter </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- signup Modal Structure -->
<div id="signup" class="modal">
  <div class="row modal-header purple darken-2">
    <h2 class="center-align white-text">Sign up</h2>
  </div>
  <div class="row modal-content">
    <div class="row">
      <form class="col s12 m6" action="/users/signup" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" name="email" type="email" class="validate" required>
            <label for="email" data-error="Please enter an E-Mail">E-Mail</label>
          </div>
          <div class="input-field col s12">
            <input id="pass1" name="pass1" type="password" class="validate" required>
            <label for="pass1">Password</label>
          </div>
          <div class="input-field col s12">
            <input id="pass2" name="pass2" type="password" required>
            <label for="pass2" data-error="Password does not match" data-success="Password Matches">Confirm Password</label>
          </div>
          <button class="btn waves-effect waves-light purple darken-2 col s12 m6 push-m6" type="submit" name="signup">Sign
            up
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
      <div class="col s12 m6">
        <div class="row">
          <a href="#" class="btn waves-effect waves-light col s12 red" name="google">signup with google </a>
        </div>
        <div class="row">
          <a href="#" class="btn waves-effect waves-light col s12 blue" name="facebook">signup with facebook </a>
        </div>
        <div class="row">
          <a href="#" class="btn waves-effect waves-light col s12 cyan" name="twitter">signup with twitter </a>
        </div>
      </div>
    </div>
  </div>
</div>