{% extends 'layout.twig' %}
{% set active_nav = 'profile' %}
{% block body %}
<div class="row">

  {# side navigation #}
  <div class="col s12 m4 l3">
    <div class="row">
      <a class="center-align">
        <div class="card">
          <div class="card-image">
            {% if active == 'profile' %}
            <a class="btn-floating btn-large halfway-fab modal-trigger waves-effect waves-light purple darken-2" href="#edit_pp"><i
                class="material-icons">edit</i></a>
            {% endif %}
            <img class="materialboxed responsive-img" {% if customer.c_description %} data-caption={{ "" ~ customer.c_description }}
              {% else %} data-caption="There is no caption available for this picture" {% endif %} src={{ customer.ppath ~ " responsive-img" }}>
          </div>
          <div id="username_text" class="card-content center-align">
            <h4>{{customer.username}}</h4>
          </div>
        </div>
      </a>
      <div class="collection center-align">
        {% if active == 'profile' %}
        <a href={{ urls~'/profile' }} class="collection-item active">Profile</a>
        {% else %}
        <a href={{ urls~'/profile' }} class="collection-item">Profile</a>
        {% endif %}

        {% if active == 'offers' %}
        <a href={{ urls~'/offers' }} class="collection-item active">My Offers</a>
        {% else %}
        <a href={{ urls~'/offers' }} class="collection-item">My Offers</a>
        {% endif %}

        {% if active == 'orders' %}
        <a href={{ urls~'/orders' }} class="collection-item active">My Orders</a>
        {% else %}
        <a href={{ urls~'/orders' }} class="collection-item">My Orders</a>
        {% endif %}

        {# {% if active == 'profile' %}

        {% else %}
        {% endif %} #}
        <a href="#!" class="collection-item">...</a>
      </div>
    </div>
    <div class="row">
      additional content can be added here.
    </div>
  </div>

  {# content rendering #}
  <div class="col s12 m8 l9">
    {% if active == 'profile' %}
    <div class="row">
      <div class=" col s11 offset-s1 center">
        <a class="btn-large modal-trigger purple darken-2" href="#edit_all"><i class="material-icons left">edit</i>Edit
          Profile</a>
      </div>
    </div>

    <!-- edit all Modal Structure -->
    <div id="edit_all" class="modal">
      <div class="modal-header purple darken-2">
        <h2 class="center-align white-text">Edit Profile</h2>
      </div>
      <div class="modal-content">
        <div class="row">
          <form class="col s12" name="edit_all" method="POST" encType="multipart/form-data" action={{'/users/updateall/' ~ customer.id}}>
            <div class="input-field col s12">
              <input id="username" type="text" name="username" class="validate" required>
              <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
              <input id="email" name="email" type="email" class="validate" required></input>
              <label for="email">E-Mail</label>
            </div>
            <div class="input-field col s12">
              <input placeholder="Birthdate" id="birthdate" name="birthdate" type="date" class="validate">
              <label for="birthdate">Birthdate</label>
            </div>
            <div class="col s12">
              <label>Choose a profile picture</label>
              <div class="file-field input-field">
                <div class="waves-effect waves-light btn">
                  <span>Browse</span>
                  <input type="file" accept="image/*" name="picture" />
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload profile picture" />
                </div>
              </div>
            </div>
            <div class="input-field col s12">
              <input id="f_name" name="f_name" type="text" class="validate">
              <label for="f_name">First Name</label>
            </div>
            <div class="input-field col s12">
              <input id="l_name" name="l_name" type="text" class="validate">
              <label for="l_name">Last Name</label>
            </div>
            <div class="input-field col s12">
              <textarea id="funfect" name="funfect" class="materialize-textarea"></textarea>
              <label for="funfect">Fun-Effect</label>
            </div>
            <div class="input-field col s12">
              <input id="street" name="street" type="text" class="validate" required>
              <label for="street">Street</label>
            </div>
            <div class="input-field col s12">
              <input id="zip" name="zip" type="number" class="validate" required>
              <label for="zip">ZIP</label>
            </div>
            <div class="input-field col s12">
              <input id="city" name="city" type="text" class="validate" required>
              <label for="city">City</label>
            </div>
            <div class="input-field col s12">
              <input id="country" name="country" type="text" class="validate" required>
              <label for="country">Country</label>
            </div>
            <button class="btn waves-effect waves-light col s6 m3 right" type="cancel">CANCEL
              <i class="material-icons right">cancel</i>
            </button>
            <button class="btn waves-effect waves-light col s6 m3 right" type="submit">update
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endif %}


    {% if active == 'offers' %}
    <div class="row">
      <div class=" col s11 offset-s1 center">
        <a class="btn-large modal-trigger purple darken-2" href="#offer_modal"><i class="material-icons left">add</i>new
          offer</a>
      </div>
    </div>
    <!-- offer Modal Structure -->
    <div id="offer_modal" class="modal">
      <div class="modal-header purple darken-2">
        <h2 class="center-align white-text">Create a new Offer</h2>
      </div>
      <div class="modal-content">
        <div class="row">
          <form class="col s12" method="POST" enctype="multipart/form-data" action="/offers">
            <div class="input-field col s12">
              <input id="offer_title" name="title" type="text" class="validate">
              <label for="offer_title">Title</label>
            </div>
            <div class="col s12">
              {# <label>multiple File Input</label>
              <div class="file-field input-field">
                <div class="waves-effect waves-light btn">
                  <span>Browse</span>
                  <input name="pictures" type="file" accept="image/*" multiple />
                </div>

                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload multiple files" />
                </div>
              </div> #}
              <label>Choose your best for this offer</label>
              <div class="file-field input-field">
                <div class="waves-effect waves-light btn">
                  <span>Browse</span>
                  <input type="file" accept="image/*" name="pictures" />
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload a picture" />
                </div>
              </div>
            </div>
            <div class="input-field col s12">
              <textarea name="description" id="offer_description" class="materialize-textarea"></textarea>
              <label for="offer_description">Description</label>
            </div>
            <div class="input-field col s12">
              <input name="price" id="offer_price" type="number" class="validate">
              <label for="offer_price">Price</label>
            </div>
            <button class="btn waves-effect waves-light col s12 m6 right" type="submit">ADD
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>
    {% elseif active == 'orders' %}
    <div class="row">
      <div class=" col s11 offset-s1 center">
        <a class="waves-effect waves-light btn-large purple darken-2" href="/"><i class="material-icons left">add</i>new
          order</a>
      </div>
    </div>
    {% endif %}

    <div class="row">
      {% if active == 'offers' %}
      {#Begin objects#}
      {% for row in offers %}
      <div class="col m2 l1"></div>
      <div class="col m8 l5">
        <div class="row">
          <div class="card sticky-action hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src={{row.path}}>
            </div>
            <div class="card-action">
              <span class="card-title activator grey-text text-darken-4">{{row.o_title ~ ' for      ' ~ row.price ~ '€'}}<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Place an order</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{row.o_title ~ ' for      ' ~ row.price ~ '€'}}<i class="material-icons right">close</i></span>
              <p>{{row.o_description}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% elseif active == 'orders' %}
      {#Begin objects#}
      {% for row in orders %}
      <div class="col m2 l1"></div>
      <div class="col m8 l5">
        <div class="row">
          <div class="card sticky-action hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src={{row.path}}>
            </div>
            <div class="card-action">
              <span class="card-title activator grey-text text-darken-4">{{row.o_title}}<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Place an order</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{row.o_title}}<i class="material-icons right">close</i></span>
              <p>{{row.o_description}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {#End objects#}
      {% else %}
      <div class="col s11 offset-s1 center">
        <div class="row center">

        </div>
        <div class="row center">
          <table class="striped centered responsive-table">
            <tbody>
              <tr>
                <td>
                  <a class="btn-small modal-trigger purple darken-2" href="#edit_username"><i class="material-icons left">edit</i></a>
                </td>
                <td>Username </td>
                <td>{{ customer.username }}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn-small modal-trigger purple darken-2" href="#edit_email"><i class="material-icons left">edit</i></a>
                </td>
                <td>E-Mail</td>
                <td>{{ customer.email }}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn-small modal-trigger purple darken-2" href="#edit_f_name"><i class="material-icons left">edit</i></a>
                </td>
                <td>First Name</td>
                <td>{{ customer.f_name }}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn-small modal-trigger purple darken-2" href="#edit_l_name"><i class="material-icons left">edit</i></a>
                </td>
                <td>Last Name</td>
                <td>{{ customer.l_name }}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn-small modal-trigger purple darken-2" href="#edit_birthday"><i class="material-icons left">edit</i></a>
                </td>
                <td>Birthday</td>
                <td>{{ customer.birthday }}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn-small modal-trigger purple darken-2" href="#edit_funeffect"><i class="material-icons left">edit</i></a>
                </td>
                <td>Fun-Effect</td>
                <td>{{ customer.c_description }}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn-small modal-trigger purple darken-2" href="#edit_street"><i class="material-icons left">edit</i></a>
                </td>
                <td>street</td>
                <td>{{ customer.c_street }}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn-small modal-trigger purple darken-2" href="#edit_zip"><i class="material-icons left">edit</i></a>
                </td>
                <td>ZIP</td>
                <td>{{ customer.c_zip }}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn-small modal-trigger purple darken-2" href="#edit_city"><i class="material-icons left">edit</i></a>
                </td>
                <td>City</td>
                <td>{{ customer.c_town }}</td>
              </tr>
              <tr>
                <td>
                  <a class="btn-small modal-trigger purple darken-2" href="#edit_country"><i class="material-icons left">edit</i></a>
                </td>
                <td>Country</td>
                <td>{{ customer.c_country }}</td>
              </tr>
            </tbody>
          </table>


          {# edit modals (single edit) #}
          <div id="edit_username" class="modal">
            <div class="modal-header purple darken-2">
              <h2 class="center-align white-text">Edit Username</h2>
            </div>
            <div class="modal-content">
              <div class="row">
                <form class="col s12" name="edit_username" method="POST" action={{'/users/update/' ~ customer.id}}>
                  <div class="input-field col s12">
                    <input id="username" type="text" name="username" class="validate" required>
                    <label for="username">Username</label>
                  </div>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="cancel">CANCEL
                    <i class="material-icons right">cancel</i>
                  </button>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="submit">update
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div id="edit_pp" class="modal">
            <div class="modal-header purple darken-2">
              <h2 class="center-align white-text">Edit Country</h2>
            </div>
            <div class="modal-content">
              <div class="row">
                <form class="col s12" name="edit_pp" method="POST" encType="multipart/form-data" action={{'/users/update/' ~ customer.id}}>
                  <div class="col s12">
                    <label>Choose a profile picture</label>
                    <div class="file-field input-field">
                      <div class="waves-effect waves-light btn">
                        <span>Browse</span>
                        <input type="file" accept="image/*" name="picture" />
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload profile picture" />
                      </div>
                    </div>
                  </div>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="cancel">CANCEL
                    <i class="material-icons right">cancel</i>
                  </button>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="submit">UPDATE
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div id="edit_email" class="modal">
            <div class="modal-header purple darken-2">
              <h2 class="center-align white-text">Edit E-Mail</h2>
            </div>
            <div class="modal-content">
              <div class="row">
                <form class="col s12" name="edit_email" method="POST" action={{'/users/update/' ~ customer.id}}>
                  <div class="input-field col s12">
                    <input id="email" type="text" name="email" class="validate" required>
                    <label for="email">E-Mail</label>
                  </div>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="cancel">CANCEL
                    <i class="material-icons right">cancel</i>
                  </button>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="submit">UPDATE
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div id="edit_f_name" class="modal">
            <div class="modal-header purple darken-2">
              <h2 class="center-align white-text">Edit First Name</h2>
            </div>
            <div class="modal-content">
              <div class="row">
                <form class="col s12" name="edit_f_name" method="POST" action={{'/users/update/' ~ customer.id}}>
                  <div class="input-field col s12">
                    <input id="f_name" type="text" name="f_name" class="validate" required>
                    <label for="f_name">First Name</label>
                  </div>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="cancel">CANCEL
                    <i class="material-icons right">cancel</i>
                  </button>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="submit">UPDATE
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div id="edit_l_name" class="modal">
            <div class="modal-header purple darken-2">
              <h2 class="center-align white-text">Edit Last Name</h2>
            </div>
            <div class="modal-content">
              <div class="row">
                <form class="col s12" name="edit_l_name" method="POST" action={{'/users/update/' ~ customer.id}}>
                  <div class="input-field col s12">
                    <input id="l_name" type="text" name="l_name" class="validate" required>
                    <label for="l_name">Last Name</label>
                  </div>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="cancel">CANCEL
                    <i class="material-icons right">cancel</i>
                  </button>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="submit">UPDATE
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div id="edit_birthday" class="modal">
            <div class="modal-header purple darken-2">
              <h2 class="center-align white-text">Edit Last Name</h2>
            </div>
            <div class="modal-content">
              <div class="row">
                <form class="col s12" name="edit_l_name" method="POST" action={{'/users/update/' ~ customer.id}}>
                  <div class="input-field col s12">
                    <input placeholder="Birthdate" id="birthdate" name="birthday" type="date" class="validate">
                    <label for="birthdate">Birthday</label>
                  </div>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="cancel">CANCEL
                    <i class="material-icons right">cancel</i>
                  </button>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="submit">UPDATE
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div id="edit_funeffect" class="modal">
            <div class="modal-header purple darken-2">
              <h2 class="center-align white-text">Edit Fun-Effect</h2>
            </div>
            <div class="modal-content">
              <div class="row">
                <form class="col s12" name="edit_funeffect" method="POST" action={{'/users/update/' ~ customer.id}}>
                  <div class="input-field col s12">
                    <input id="funeffect" type="text" name="funeffect" class="validate" required>
                    <label for="funeffect">Fun-Effect</label>
                  </div>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="cancel">CANCEL
                    <i class="material-icons right">cancel</i>
                  </button>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="submit">UPDATE
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div id="edit_street" class="modal">
            <div class="modal-header purple darken-2">
              <h2 class="center-align white-text">Edit Street</h2>
            </div>
            <div class="modal-content">
              <div class="row">
                <form class="col s12" name="edit_street" method="POST" action={{'/users/update/' ~ customer.id}}>
                  <div class="input-field col s12">
                    <input id="street" type="text" name="street" class="validate" required>
                    <label for="street">Street</label>
                  </div>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="cancel">CANCEL
                    <i class="material-icons right">cancel</i>
                  </button>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="submit">UPDATE
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div id="edit_zip" class="modal">
            <div class="modal-header purple darken-2">
              <h2 class="center-align white-text">Edit ZIP Code</h2>
            </div>
            <div class="modal-content">
              <div class="row">
                <form class="col s12" name="edit_zip" method="POST" action={{'/users/update/' ~ customer.id}}>
                  <div class="input-field col s12">
                    <input id="zip" type="text" name="zip" class="validate" required>
                    <label for="zip">ZIP Code</label>
                  </div>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="cancel">CANCEL
                    <i class="material-icons right">cancel</i>
                  </button>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="submit">UPDATE
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div id="edit_city" class="modal">
            <div class="modal-header purple darken-2">
              <h2 class="center-align white-text">Edit City</h2>
            </div>
            <div class="modal-content">
              <div class="row">
                <form class="col s12" name="edit_city" method="POST" action={{'/users/update/' ~ customer.id}}>
                  <div class="input-field col s12">
                    <input id="city" type="text" name="city" class="validate" required>
                    <label for="city">City</label>
                  </div>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="cancel">CANCEL
                    <i class="material-icons right">cancel</i>
                  </button>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="submit">UPDATE
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div id="edit_country" class="modal">
            <div class="modal-header purple darken-2">
              <h2 class="center-align white-text">Edit Country</h2>
            </div>
            <div class="modal-content">
              <div class="row">
                <form class="col s12" name="edit_country" method="POST" action={{'/users/update/' ~ customer.id}}>
                  <div class="input-field col s12">
                    <input id="country" type="text" name="country" class="validate" required>
                    <label for="country">Country</label>
                  </div>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="cancel">CANCEL
                    <i class="material-icons right">cancel</i>
                  </button>
                  <button class="btn-small waves-effect waves-light col s6 m3 right" type="submit">UPDATE
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </div>
          </div>

        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}